 <!DOCTYPE html>
 <html>
 <body>
 <div class="header">
<form action="/sessions/new">
  <input class="button" type="submit" value="Sign in"> 
 </form>
 <p>Chitter - for all your Chatter</p>
 </div>
 <h2>What's happening?</h2>

 
 <form action="/messages" method="post">
 <label for="email">
 	Email:
  <input type="text" name="name" placeholder="What is your name?">
  </label>
  <label for="message">
  Peep:
  <input type="text" name="message" placeholder="Create message">
  </label>
  <label for="peep_handle">
  Handle:
  <input type="text" name="peep_handle" placeholder="peep_handle">
  </label>
  <input class="button" type="submit" value="Post" >
</form> 
<br>
<br>
<br>
 
 <h2>Here's what's going on in your circle</h2>
  <ol>
   <% @messages.each do |message| %>
     <li>
       <h3><%= message.name %></h3>
          <p id="peep"> <%= message.message %></p>
         <p><%= message.peep_handle %></p>
         <br id="time">Posted at: <%= message.timestamp %></br>
     </li>
   <% end %>
 </ol>



 <form action="/users/new" method="post">
 <input class="button" type="submit" value="Click here to sign up for a Chitter account">
 </form>
</body>

<style>


 body {
   background-color: #ffccff;
   text-align: center;
 }

h3 {
  color:  #a3c2c2
  text-align: center;
}


.header {
  font-size: 30px;
  color: #ff1aff;
  text-align: center;
  border: solid, black, 5px;
}

#peep {
  text-align: center;
   color:  #99ffff;
}

#time {
  text-align: center;
}

ol {
  text-align: center; 
  display: inline-block;
}

.button {
  background-color: #ff1aff;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}



 #sloth {
       border: 10px #ff80ff solid;
       width: 500px;
      height: 400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
     }
 </style>
 </html>

