
  <ol>
   <% @messages.each do |message| %>
     
     <li>
       <h3><%= message.name %></h3>
           <%= message.message %>
         <p><%= message.peep_handle %></p>
     </li>
   <% end %>
 </ol>