
<form action="/messages" method="post">
  <input type="text" name="name" placeholder="What is your name?">
  <input type="text" name="message" placeholder="Create message">
  <input type="text" name="peep_handle" placeholder="peep_handle">
  <input type="submit" value="Post" >
</form>