 <!DOCTYPE html>
 <html>
 <head>
   <title>Index</title>
   <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
 <body>
 <div class="header">
 <nav>
    <a class="nav-link" href="#About" rel="internal"><i class="fa fa-home"></i>About</a>
    <a class="nav-link" href="#Sign up" rel="internal"><i class="fa fa-user-plus"></i>Sign Up</a>
    <a class="nav-link" href="#Log in" rel="internal"><i class="fa fa-sign-in"></i>Log In</a>
    <a class="nav-link" href="#Contact us" rel="internal"><i class="fa fa-phone"></i>Contact Us</a>
  </nav>
 <h1>Chitter - for all your Chatter</h1>
 </div>
 <h2>Whats happening?</h2>
 <img id="chitterlogo" src="Images/Chitter.png">
<br>
<br>
<br>
<br>
 

<br>
<br>
<br>
 <br>
 <br>
  

<section id="About">
<h2>About Chitter</h2>
<p><strong>Chitter</strong> is a British microblogging and social networking service on which users post</p>
<p>and interact with messages.</p>
<p>Registered users can post messages, but unregistered users can only read them.</p>
<p>Users access Chitter through its <strong>website interface</strong>, through Short Message Service (SMS) or </p>
<p>its mobile-device application software ("app").</p>
<p><strong>Chitter, Inc.</strong> is based in <Strong>Shoreditch</strong>, London and has more than 10 offices around the world.</p>
<p>Peeps were originally restricted to 140 characters, but there is currently no limit</p>
<p>Chitter was created in <strong>January 2020</strong> by <strong>Millie Jacobson, Donna Graham and Imelda Danson.</strong> </p>
<p>The service rapidly gained worldwide popularity. </p>
<br>
<div class="container">
<section id="Sign up">
 <form id="formsignup" action="/users/new">
 <input class="button" type="submit" value="Click here to sign up for a Chitter account">
 </form>
 </section>
 <br>
 <br>
<section id="Log in">
 <form id="formsignin" action="/sessions/new">
  <input class="button" type="submit" value="Log in"> 
 </form>
 </section>
 </div>

 <section id="Contact us">
 <p>Phone number: 0208 9876 2354711</p>
 <p>Email: customerservices.chitter@gmail.com</p>
 </section>

 <style>
 @import url('https://fonts.googleapis.com/css?family=Roboto:200');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


body {
   background-color: white;
   text-align: center;
 }

h2 {
  color:  #00ace6;
  text-align: center;
}

h1 {
  color:  #4dd2ff;
  text-align: center;
}


.header {
  font-size: 30px;
  color: #80dfff;
  text-align: center;
  border: solid, black, 5px;
}

#peep {
  text-align: center;
  color:  #99ffff;
}

#time {
  text-align: center;
}

ol {
  text-align: center; 
  display: inline-block;
}

.button {
  background-color: #33ccff
  ;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.container {
  padding: 60px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 60px;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: stretch;
}

#formsignup {
  flex: none;
  width: 300px;
  font-size: 30px;
}

#formsignin {
  flex: none;
  width: 30px;
  font-size: 30px;

}


 img {
    width: 150px;
    height: 150px;

 }

 



nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

a {
  font-size: 30px;
  margin: 20px;
  text-decoration: none;
  color: #95a5a6;
  font-family: roboto;
  border-bottom: 1px solid #52c9aa;
  transition: color 0.75s ease-in-out;
}

a:hover {
  color: #e974bc;
  border-bottom-color: #4d0730;
}

i {
  margin-right: 10px;
}



@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
    background: #cc8db4;
  }
  a {
    color: white;
  }
}


@media screen and (max-width: 920px) {
    nav {
      justify-content: center;
    }
    a {
      font-size: 26px;
    }
  }

  p {
    text-align: center;
  }

  #formsignup {
    width: 100px;
    height: 100px;

  }

  #formsignin {

  }

 

  </style>
</body>


 </html>

