<!DOCTYPE html>
<html>
<head>
  <title>Log In</title>
  <link rel="stylesheet" type="text/css" href="css/signin.css">
</head>
<body>
<br>
<h1>Chitter - for all your Chatter</h1>
<br>
<img id="chitterlogo" src="../Images/Chitter.png">
<h3>Log In</h3>
<form action="/sessions" method="post">
   <input type="email" name="email" placeholder="Enter email">
   <input type="password" name="password" placeholder="Enter password">
   <input class="button" type="submit" name="Sign in">
 </form> 

 <h1>
   <%= flash[:notice] %>
 </h1>

 <style>
 body {
   background-color: white;
   text-align: center;
 }

  .button {
  background-color: #33ccff;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

h1 {
  color:  #4dd2ff;
  text-align: center;
}

h3 {
  color: #00ace6;
}